@media (max-width:992px) {
  .carousel-indicators{
    justify-content: center;
  }
  .carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-bottom: 0;
    border-top: 0;
    border-radius: 50%;
    background: #ABABAB;
  }
}

@media (max-width:768px) {
  .navbar-nav{
    gap: 30px;
  }
  .header__top .navbar-nav{
    gap: 40px;
  }
}
@media (max-width:576px) {
  .logo::before{
   display: none;
  }
  .logo img{
    width: 100px;
  }
}
@media (max-width:300px) {
  .footer-link span::before{
    font-size: 20px;
  }
}