@media (max-width:768px) {
  .navbar-nav{
    gap: 30px;
  }
  .header__top .navbar-nav{
    gap: 40px;
  }
}
@media (max-width:576px) {
  .logo::before{
   display: none;
  }
  .logo img{
    width: 100px;
  }
}
@media (max-width:300px) {
  .footer-link span::before{
    font-size: 20px;
  }
}